# Development environment / configuration
.idea
.editorconfig

# Byte-compiled / optimized / DLL files
__pycache__/

# Scripts for the environment
harness-util/
activate-venv.sh

# Environments
bot-venv*/
.env

# mypy
.mypy_cache/
.mypy.ini
